@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Error.cshtml";
}
<div class="d-flex align-items-center justify-content-center err-height">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Lỗi</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Lỗi đã xảy ra.</p>
        <p class="lead">
            Yêu cầu của bạn không thể thực hiện!
        </p>
        <a href="/" class="btn btn-primary">Trang chủ</a>
    </div>
</div>

